<div *ngFor="let persona of personas" class="card card-body" mb-2>
<div class="row">
    <div class="col-md-8">
        <ul>
            <li>
                id: {{persona.id}}
            </li>
            <li>
                name: {{persona.nombre}}
            </li>
            <li>
                apellido: {{persona.apellido}}
            </li>
            <li>
                fecha_nacimiento: {{persona.fecha_nacimiento}}
            </li>
        </ul>
        <button class="btn btn-danger" (click)="deletePersona(persona?.id?.toString() || '')">
            borrar
        </button>
        <button class="btn btn-secondary" [routerLink]="['/persona', persona.id]">
            editar
        </button>

    </div>
    <div class="col-md-4">

    </div>
</div>
</div>
